.btn-summary {
    width: 100%;
    padding: 10px;
    background-color: #f3961c;  /* Cor de fundo azul */
    color: #fff;                /* Cor da fonte branca */
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
  }
  .btn-summary:hover{
      width: 100%;
      padding: 10px;
      background-color: #FF8C00;  /* Cor de fundo azul */
      color: #333;                /* Cor da fonte branca */
      border: #333;
      
      font-size: 1rem;
      cursor: pointer;
      border-radius: 25px;
    }